<form action="/api/search_location" method="POST" class="search-form">

    <label class="search-location-label" for="search_location"><span class="brand">Meets</span> in your
        location</label>
    <div class="autocomplete">
        <input type="text" class="search-location-input" id="search_location" name="search_location"
            placeholder="Enter your location" autocomplete="off">
    </div>
    <button class="btn" type="submit">SHOW <span class="brand">Meets</span></button>
</form>