<div class="slider-container">
    <div class="thumbnail-slider">
        <div class="thumbnail-container">
            {{> card_slider}}
            {{> card_slider}}
            {{> card_slider}}
        </div>
        <!-- controls slides -->
        <div class="controls"></div>
    </div>
</div>