{{> navigation this}}

<div class="contentBodyContainer">

    <div class="contentBody">
        <div>
            <h2>Edit Meet</h2>
            {{ data.meet.title }}
            <form class="new-meet" action="/api/edit_meet" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title-input" placeholder="Title"
                        value={{ title }} />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" rows="10" style="width: 100%;"></textarea>
                </div>
                <div class="form-group">
                    {{#if user.location }}
                    <label for="location">Location</label>
                    <div class="autocomplete">
                        <input type="text" name="location" class="form-control search-location-input"
                            id="location-input" autocomplete="off" value={{ user.location }} />
                    </div>
                    {{else}}
                    <label for="location">Location</label>
                    <div class="autocomplete">
                        <input type="text" name="location" class="form-control search-location-input"
                            id="location-input" autocomplete="off" />
                    </div>
                    {{/if }}
                    <div class="form-group">
                        <label for="meetDate">Date</label>
                        <input type="date" class="form-control" id="meetDate" name="meetDate"
                            placeholder="24/01/2020" />
                    </div>
                    <div class="form-group">
                        <label for="meetTime">Time</label>
                        <input type="time" class="form-control" id="meetTime" name="meetTime" placeholder="17:30" />
                    </div>
                    <div class="form-group">
                        <label for="numberAtendees">Number of Attendees</label>
                        <input type="number" class="form-control" id="numberAtendees" placeholder="20"
                            name="numberAtendees" />
                    </div>
                    <div class="form-group">
                        <label for="meetAdressLineOne">Address</label>
                        <input type="text" class="form-control" id="meetAdressLineOne" name="meetAdressLineOne"
                            placeholder="Flat 3, 158 Blaskey Hill" />
                        </br>
                        <input type="text" class="form-control" id="meetTown" placeholder="Birminham" name="meetTown" />
                        </br>
                        <input type="text" class="form-control" id="meetPostCode" placeholder="B12 5EF"
                            name="meetPostCode" />
                    </div>
                    </br>
                    <button type="submit" class="btn-submit">Create</button>
            </form>
        </div>
    </div>

</div>