{{> navigation}}
<div class="background">
    <img src="./imgs/people_shadow.svg" alt="background-shadow-of-people-in-party">
</div>
<div class="overlay"></div>
<!-- -------------------- -->
<div class="content">
    <h1 class="main-heading">Hi Tom! Here are <span class="brand-red">Meets</span> in Birmingham.</h1>
    <h2 class="sub-heading">Click your favourite to see details and book attendance.</h2>
    <!-- <form action="/api/search-location" method="GET" class="search-form">
        
            <label class="search-location-label" for="search-location"><span class="brand">Meets</span> in your location</label>
            <div class="autocomplete">
                <input type="text" class="search-location-input" id="search-location" name="search-location" placeholder="Enter your location" autocomplete="off">
            </div>
            <button class="btn">SHOW MEETS</button>
        </form> -->
    <!-- ---------------------- -->
    <div class="slider-container">
        <div class="thumbnail-slider">
            <div class="thumbnail-container">
                <div class="item">
                    <div class="card-meet">
                        <div class="img-meet-container">
                            <img class="img-meet" src="./static-files/christmas_party-min.jpg" alt="" />
                        </div>
                    </div>
                    <div class="card-meet-content">
                        <div class="card-meet-title">
                            <h2>Jen's Hen Party</h2>
                        </div>
                    </div>
                    <div class="card-meet-location-container">
                        <h5 class="card-meet-location">Birmingham</h5>
                    </div>
                    <div class="card-meet-details">
                        <h6 class="card-meet-date">Fri 24 Jan</h6>
                        <h6 class="card-meet-time">17:30</h6>
                    </div>
                    <div class="card-meet-description">
                        <p>Party peole are all welcome! Let's rock this party!</p>
                    </div>
                </div>
                <div class="item">
                    2
                </div>
                <div class="item">
                    3
                </div>
                <div class="item">
                    4
                </div>
                <div class="item">
                    5
                </div>
                <div class="item">
                    6
                </div>
            </div>

            {{!-- <!-- controls slides --> --}}
            <div class="controls"></div>
        </div>
    </div>
    {{!-- --------------------------- --}}
    <h2 class="call-to-action-heading">Create your own <span class="brand-red">Meet</span></h2>
    <h3 class="call-to-action-sub-heading">If you haven't found the <span class="brand-red">Meet</span> you're looking
        for, why don't you create your own?</h3>
    <div class="align-center">
        <button class="btn">Create a <span class="brand">Meet</span></button>
    </div>

</div>