{{> navegation}}
<div class="background">
    <img src="./imgs/people_shadow.svg" alt="background-shadow-of-people-in-party">
</div>
<div class="overlay"></div>
<!-- -------------------- -->
<header class="content">
    <!-- <div class="header-container"> -->
    <h1 class="main-heading"><span class="brand-red">Meet</span> new people like you!</h1>
    <h2 class="sub-heading">Find a <span class="brand-red sub-heading">Meet</span> for you or create your own!</h2>
    {{> search_home}}
    {{> slider}}
</header>