{{> navigation}}
<div class="contentBodyContainer">
    <div class="contentBody">
        <h2>Login Form</h2>
        {{#if messages.error}}
        {{messages.error}}
        {{/if}}

        <form class="login" action="/api/login" method="POST">
            <div class="form-group">
                <label for="InputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="InputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            </br>
            <button type="submit" class="btn-submit">Login</button>
        </form>
        <p>Or sign up <a href="/signup">here</a></p>
    </div>
</div>