body {
  height: 100%;
}

.header-container {
  padding: 5% 10% 0 10%;
}

.background img {
  z-index: -10;
  width: 60%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}
.overlay {
  background: rgba(229, 229, 229, 0.37);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -9;
}

.main-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.7rem;
  margin-bottom: 0.5em;
}

.sub-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #f44336;
  margin-bottom: 0.8em;
}

.brand {
  font-family: Righteous;
}

.search-form {
  display: inline-block;
}

.search-location-label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.3rem;
}

.search-location-input {
  width: 280px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding-left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.btn-search-location {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #f44336;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
}

/* AUTOCOMPLETE */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 100;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  font-family: Montserrat;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* ------------ */

@media only screen and (max-width: 930px) {
  .background img {
    z-index: -10;
    width: 100%;
    height: auto;
    position: absolute;
    right: -10%;
    bottom: 0;
  }

  .main-heading {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0.5em;
  }

  .sub-heading {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #f44336;
    margin-bottom: 0.8em;
  }
  .btn-search-location {
    display: block;
    margin-top: 1rem;
  }
}
